:root {
  --main-font: "Roboto", sans-serif;
  --semi-font: "Montserrat", sans-serif;
  --semi-head-font: "Kaushan Script", sans-serif;
  --main-font-color: #999999;
  --semi-font-color: #333333;
  --main-items-color: #95e1d3;
  --hover-items-color: #f38181;
  }