@import "./vars.css";
@import "./fonts.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.top-section-background {
  background: url(../img/bg_img.png) center/cover no-repeat;
  background-color: #000000;
}

.top-section {
  padding: 3rem 0 14rem 0;
  margin-bottom: 7rem;;
}

.masthead-items {
  display: flex;
  flex-direction: column-reverse;
}

.site-logo__item {
  display: block;
  text-decoration: none;
  color: var(--bgr-text-color);
  text-transform: uppercase;
  font-family: var(--main-font-bold);
}

.site-logo__item:hover {
  text-decoration: none;
  color: var(--bgr-text-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 2rem;
}

.login-sign_up__list {
  /* display: flex;
  justify-content: center; */
  margin-bottom: 13rem;
}

.login-sign_up__button {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  font-family: var(--main-font-bold);
  color: var(--bgr-text-color);
  font-size: 1.4rem;
  padding: 1.1rem 1.7rem;
  border: 2px solid transparent;
  outline: none;
}

.login-sign_up__button:hover{
  border: 2px solid var(--bgr-text-color);
  border-radius: 3rem;
}

.slogan {
  margin-bottom: 2rem;
}

.slogan__text {
  font-family: var(--main-font-bold);
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--bgr-text-color);
  margin: 0;
}

.slogan__text-explanation {
  font-size: 1.8rem;
  font-family: var(--semi-font);
  color: var(--bgr-text-color);
  margin-bottom: 2rem;
  /* padding: 0 5.2rem; */
}

.slogan__text-explanation p {
  margin: 0;
}

.header-button, 
.main__section-button {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 3.2rem;
  /* height: 4rem; */
  width: 28rem;
  background-color: var(--icon-tv-color);
  color: var(--bgr-text-color);
  font-family: var(--main-font-bold);
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem 0;
}

.main__section {
  margin-bottom: 5.6rem;
  text-align: center;
}

.main__head {
  font-size: 2.2rem;
  font-family: var(--main-font-bold);
  color: var(--main-text-color);
  padding: 0 2.4rem;
  margin-bottom: 20px;
}

.partners-list-item {
  margin-bottom: 3rem;
}

.partners-list-item a {
  text-decoration: none;
}

.partners-card {
  position: relative;
  margin-bottom: 2rem;
}

.partners-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.partners-card::after {
  content: "";
  position: absolute;
  display: block;
  width: 4rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(22px, 22px);
  border: 4px solid var(--bgr-text-color);
  border-radius: 50%;
  background-image: url(../img/css_sprites.png);
  background-repeat: no-repeat;
}

.partner1::after {
  background-color: var(--icon-tv-color);
  background-position: -72px -4px;
}

.partner2::after  {
  background-color: var(--icon-testtube-color);
  background-position: -1px -3px;
}

.partner3::after  {
  background-color: #1cd7ad;
  background-position: -36px -6px;
}

.partner4::after  {
  background-color: #4e73db;
  background-position: -72px -4px;
}

.partner-figcaption {
  width: 22rem;
  margin: 0 auto;
}

.partners-name {
  font-family: var(--main-font-bold);
  font-size: 1.4rem;
  color: var(--main-text-color);
  margin-bottom: 2rem;
}

.partners-about {
  font-family: var(--semi-font);
  font-size: 1.4rem;
  color: var(--semi-text-color);
}

.main-button {
  background-color: transparent;
  color: var(--icon-tv-color);
  border-color: var(--icon-tv-color);
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--bgr-text-color);
  text-decoration: none;
}

.main-button:hover {
  color: var(--icon-tv-color); 
}


@media screen and (min-width: 768px) {

  .masthead {
    padding: 4.8rem 0 23.4rem 0;
    margin-bottom: 7.2rem;
  }

  .masthead-items {
    flex-direction: row;
    margin-bottom: 16rem;
  }
  
  .login-sign_up__list {
    margin-bottom: 0;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }

  .slogan {
    margin-bottom: 4rem;
  }
  .slogan__text {
    font-size: 5.2rem;
    margin-bottom: 4rem;
  }
  
  .slogan__text-explanation {
    font-size: 2.4rem;
    margin-bottom: 3.5rem;
    padding: 0;
  }

  .button {
    width: 22.8rem;
  }

  .main__section {
    margin-bottom: 4rem;
  }

  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partners-list-item {
    margin-bottom: 6rem;
    max-width: 23.6rem;
  }

  .partners-list-item:nth-child(odd) {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 960px) {
  /* .wrapper {
    min-width: 94.2rem;
  } */

  /* .section {
    width: 94.2rem;
  } */

  .masthead-header {
    margin-bottom: 0;
  }

  .partners-list-item:not(:last-child) {
    margin-right: 2rem;
  }
}
